/* About Page Layout */
.about-container {
  height: 100%;
  background-image: url("../assets/images/about-section-wallaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Page Title */
.about-page-title {
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 5.3rem;
}