/* Menu Page Layout */
.menu-container {
  background-image: url("../assets/images/menu-wallpaper-intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/* First Section Layout */

.data-container {
  display: flex;
  position: relative;
  z-index: 1;
  gap: 5.6rem;
  flex-direction: column;
  align-items: center;
  height: 88vh;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.6);
}

/* Data Container Images */
.left-side-img {
  position: absolute;
  left: 2rem;
  width: 22rem;
  bottom: 0;
}

.right-side-img {
  position: absolute;
  right: 2rem;
  width: 30rem;
  bottom: 2.5rem;
}

/* Menu Page Text */

.menu-page-title {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 5.3rem;
}

.menu-page-desc {
  margin-top: 19rem;
  font-size: 3rem;
  color: rgb(240, 212, 168);
  width: 40%;
  text-align: center;
  line-height: 8rem;
}

/* Second panel layout & title */

.food-section {
  background-image: url(../assets/images/food-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 120rem;
  position: relative;
}

.food-section-title {
  font-family: "Oswald", sans-serif;
  color: white;
  width: 100%;
  font-size: 4rem;
  text-align: center;
  margin: auto 0;
  padding-top: 2rem;
}

/* Dishes grid */

.dishes-container {
  max-width: 100rem;
  margin-top: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  align-items: center;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
}

/* Dish Items */

.dish-item {
  justify-self: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 12rem;
  background-color: rgba(64, 67, 66, 0.658);
  border-radius: 20px;
}

.dish-image {
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  height: 20rem;
}

.dish-name {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.dish-description {
  color: rgb(254, 254, 254);
  width: 30rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.dish-price {
  color: white;
  font-weight: 900;
  font-size: 2rem;
}

/* Footer */

.footer {
  color: white;
  position: absolute;
  bottom: 0.3rem;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
}
